body {
  background-color: black; 
  color: white;
  border: 1px solid white;
}

.app {
  width: 90w;
  height: 100vh;
}

.grid-box {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows:  20% 20% 20% 20% 20%;
}

header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 6;
}

.table-box {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start:3;
  grid-row-end: 5;
}

// footer {
//   grid-row-start:5;
//   grid-row-end:6;
//   grid-column-start:1;
//   grid-column-end:6;
  
// }