header {
  background-color: #8d6c6c57;

}

.navbar {
 
  width: 100%;
  color: green;   

}

.navbar li {
  text-align: center;
  padding: 8px;
  width: 7%;   
  text-decoration: none; 
  display: inline-block;
}

header h2 {
  text-align: center;
  padding-bottom: 30px;
}